$color-primary-dark-map: (
  container: hsl(240, 100%, 5%),
  on-container: hsl(240, 100%, 80%),
  surface: hsl(240, 100%, 15%),
  on-surface: hsl(240, 100%, 80%),
  alt-surface: hsl(240, 80%, 25%),
  on-alt-surface: hsl(0, 0%, 100%),
  accent: hsl(240, 100%, 60%)
);
  

$color-primary-light-map: (
  container: hsl(0, 0%, 100%),
  on-container: hsl(240, 100%, 15%),
  surface: #E5E5FF,
  on-surface: hsl(240, 100%, 20%),
  alt-surface: hsl(240, 100%, 90%),
  on-alt-surface: hsl(240, 80%, 30%),
  accent: hsl(240, 100%, 85%)
);


$color-primary-map: (
  surface: hsl(240, 100%, 60%),
  on-surface: hsl(240, 100%, 95%),
  alt-surface: hsl(240, 100%, 70%),
  on-alt-surface: hsl(0, 0%, 100%),
  accent: #9999FF,

  /// To access theme without sensitive cases.
  dark: $color-primary-dark-map,
  light: $color-primary-light-map
);