
/// @description: 
/// Here we define global variables.
/// Why use variables?
/// + For Enhirence Organization.
/// + For Improved Maintainability.
/// + For Better Reusability.
/// + For Theme Customization.
:root {
  /// @color
  /// Put here all color vars that No son sensibles a los cambios de tema.
  --color-primary: red;
}


/// @theme:dark
.dark-mode {
  /// @color
  /// Put here all color variables for `mode-dark` theme.
  --theme-container: #000;
  --theme-on-container: #fff;
  --theme-surface: #0D0D0D;
  --theme-on-surface: #7F7F7F;
  --theme-alt-surface: #1E1E1E;
  --theme-on-alt-surface: #666666;
  --theme-accent: #4D4DF6;
}

/// @theme:light
.light-mode {
  /// @color
  /// Put here all color variables for `mode-light` theme.
  --theme-container: #fff;
  --theme-on-container: #000;
  --theme-surface: hsl(200deg,10%, 95%);
  --theme-on-surface: hsl(200deg,10%, 10%);
  --theme-alt-surface: hsl(200deg,10%, 90%);
  --theme-on-alt-surface: hsl(200deg,10%, 20%);
  --theme-accent: #4D4DF6;
}