/// @description
/// Flexbox helpers, atom classes that help us to for flex properties

.flex {
  display: flex;
}
.flex\:inline {
  display: inline-flex; 
}  

.flex\:col {
  display: flex;  
  flex-direction: column;
}

/// Align items properties
$align-items-props: (
  stretch,
  flex-start,
  flex-end,
  center,
  baseline,
  
);
/// How to use?
/// .aling:<propertie>
/// example <element class="flex aling:center">
@each $prop in $align-items-props {
  .align{
    &\:#{$prop} {
      align-items: $prop;
    }
  }
}


/// Justify Content Properties
$justify-content-props: (
  center,
  flex-start,
  flex-end,
  space-between,
  space-around,
  space-evenly,
);

/// How to use?
/// .justify:<propertie>
/// example <element class="flex justify:center">
@each $prop in $justify-content-props {
  .justify{
    &\:#{$prop} {
      justify-content: $prop;
    }
  }
}
