@use '@shared/form-field' as *;
@use '@shared/color-context' as *;

.button {
  @extend %form-field!optional;
  @extend %shared-color-context;
  border: none;

  
  &:hover {
    background-color: var(--alt-background);
  }

  &:focus {
    outline-color: var(--heightlight);
  }
}

