@use '@shared/form-field' as *;

.button {
  @extend %form-field;
  border: none;
}

.button {
  &:active {
    background-color: var(--theme-alt-surface);
  } 
  &:focus {
    outline-color: var(--theme-accent);
    color: var(--theme-on-container);
  }
}