@use '@shared/color-context' as *;
/// @component: switch
/// @description:
/// This switch button should be refactored, Their styles only adopted for
/// `<ThemeToggle>`. And the intention is to adapt it for forms as well.

/// Base styles
.switch {
  width: 38px;
  border-radius: 12px;
  border: 1px solid var(--theme-alt-surface);
  background-color: var(--theme-surface);
  padding: 1px;
  transition: all .4s ease-in-out;
  outline: 1.5px solid transparent;
}


/// @child: thumb
.switch::after {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  background-color: var(--theme-alt-surface);
  border-radius: 50%;
  transition: transform .2s ease-in;
}

/// @state: focus
.switch:focus {
  outline: 2px solid hsl(240, 100%, 60%, .2);
}

/// @state: hover
.switch:hover {
  border-color: var(--color-primary-surface);
}

/// @state: checked
.switch:checked {
  background-color: var(--color-primary-surface);
  &::after {
    background-color: var(--color-primary-on-surface);
    transform: translateX(14px);
  }
}